<!-- Modal Agregar -->
<div class="modal fade" id="modalAgregar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="formularioAddCategoria" (ngSubmit)="addCategoria()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreCategoria" class="form-control-label">Categoria:</label>
            <input type="text" class="form-control" formControlName="nombreCategoria">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary"
          [disabled]="!formularioAddCategoria.valid">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</div>
