<h2>Categorias</h2>
<button type="button" class="btn btn-outline-primary" data-toggle="modal"
  data-target="#modalAgregar">Agregar</button>
<hr>
<table class="table table-hover table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <th scope="row">{{categoria.idCategoria}}</th>
      <td>{{categoria.nombreCategoria}}</td>
    </tr>
  </tbody>
</table>
<app-formAgregar-categoria></app-formAgregar-categoria>
