<!-- Modal Agregar -->
<div class="modal fade" id="modalAgregar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="formularioAddTarea" (ngSubmit)="addTarea()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Tarea</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titulo" class="form-control-label">Titulo:</label>
            <input type="text" class="form-control" formControlName="titulo">
          </div>
          <div class="form-group">
            <label for="descripcion" class="form-control-label">Descripcion:</label>
            <input type="text" class="form-control" formControlName="descripcion">
          </div>
          <div class="form-group">
            <label for="estado" class="form-control-label">Estado:</label>
            <select class="form-control" formControlName="idEstado">
              <option *ngFor="let estado of estados"
                [value]="estado.idEstado">
                {{estado.nombreEstado}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="fechaFin" class="form-control-label">Fecha de Finalizacion:</label>
            <input type="datetime-local" class="form-control" formControlName="fechaFin">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary"
          [disabled]="!formularioAddTarea.valid">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</div>
