<h2>Tareas</h2>
<button type="button" class="btn btn-outline-primary" data-toggle="modal"
  data-target="#modalAgregar">Nueva Tarea</button>
<hr>
<table class="table table-hover table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th>Fecha de Registro</th>
      <th>Fecha de Finalizacion</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarea of tareas">
      <th scope="row">{{tarea.idTarea}}</th>
      <td>{{tarea.titulo}}</td>
      <td>{{tarea.descripcion}}</td>
      <td>{{tarea.nombreEstado}}</td>
      <td>{{tarea.registro}}</td>
      <td>{{tarea.fin}}</td>
      <td class="btn-group" role="group">
        <button type="button" class="btn btn-warning btn-sm"
        [routerLink]="['/dashboard/tarea', tarea.idTarea]">Editar</button>
        <button type="button" class="btn btn-danger btn-sm"
        (click)="borrarTarea(tarea.idTarea)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<app-formAgregar-tarea></app-formAgregar-tarea>
