<h2>Tarea</h2>
<button class="btn btn-outline-success"
  [routerLink]="['/dashboard/tareas']">Regresar</button>
<hr>
<div *ngIf="formularioTarea">
  <form (ngSubmit)="guardarCambios()"
    [formGroup]="formularioTarea">
    <div class="form-group row">
      <label class="col-2 col-form-label">Titulo</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="titulo">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Descripcion</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="descripcion">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Estado</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="idEstado">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Fecha de Finalizacion</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="fechaFin">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-10">
        <button
          [disabled]="!formularioTarea.valid"
          type="submit" class="btn btn-outline-primary">
          Guardar Cambios
        </button>
      </div>
    </div>
  </form>
</div>
