<!-- Modal Agregar -->
<div class="modal fade" id="modalAgregar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="formularioAddContacto" (ngSubmit)="addContacto()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Contacto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="categoria" class="form-control-label">Categoria:</label>
            <select class="form-control" formControlName="idCategoria">
              <option *ngFor="let categoria of categorias"
                [value]="categoria.idCategoria">
                {{categoria.nombreCategoria}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="nombre" class="form-control-label">Nombre:</label>
            <input type="text" class="form-control" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="apellido" class="form-control-label">Apellido:</label>
            <input type="text" class="form-control" formControlName="apellido">
          </div>
          <div class="form-group">
            <label for="direccion" class="form-control-label">Direccion:</label>
            <input type="text" class="form-control" formControlName="direccion">
          </div>
          <div class="form-group">
            <label for="telefono" class="form-control-label">Telefono:</label>
            <input type="text" class="form-control" formControlName="telefono">
          </div>
          <div class="form-group">
            <label for="correo" class="form-control-label">Correo:</label>
            <input type="email" class="form-control" formControlName="correo">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary"
          [disabled]="!formularioAddContacto.valid">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</div>
