<h1>Contactos</h1>
<button type="button" class="btn btn-outline-primary" data-toggle="modal"
 data-target="#modalAgregar">Nuevo Contacto</button>
<hr>
<div class="card-columns">
  <div class="card card-inverse card-info"
  *ngFor="let contacto of contactos">
    <div class="card-block">
        <h4 class="card-title mt-3">{{ contacto.nombre | uppercase }} {{ contacto.apellido | uppercase }}</h4>
        <div class="meta card-text">
            <a>{{ contacto.nombreCategoria }}</a>
        </div>
        <div class="card-text">{{ contacto.telefono }}</div>
    </div>
    <div class="card-footer" align="right">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-default btn-sm"
        [routerLink]="['/dashboard/contacto', contacto.idContacto]">Ver mas</button>
        <button class="btn btn-danger btn-sm"
        (click)="borrarContacto(contacto.idContacto)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<app-formAgregar-contacto></app-formAgregar-contacto>
