<div class="container" style="{margin-top: 40px;}">
  <div class="row justify-content-center">
    <div class="col-5">
      <h1 class="text-center">LogIn</h1>
      <hr>
      <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">
        <div class="form-group">
          <label for="nick">Nick</label>
          <input type="text"
            class="form-control"
            placeholder="Ingrese su nick"
            formControlName="nick">
        </div>
        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <input type="password"
            class="form-control"
            placeholder="Ingrese su contrasena"
            formControlName="contrasena">
        </div>
        <div class="form-group">
          <div class="btn-group btn-block">
            <button type="submit"
              class="btn btn-outline-primary"
              [disabled]="!formularioLogin.valid">
              Iniciar Sesion
            </button>
            <button type="button"
              class="btn btn-outline-success"
              [routerLink]="['/signup']">
              Registrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
