<h2>Historial</h2>
<hr>
<table class="table table-hover table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Descripcion</th>
      <th>Fecha de Registro</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let historial of historiales">
      <th scope="row">{{historial.idHistorial}}</th>
      <td>{{historial.descripcion}}</td>
      <td>{{historial.fecha}}</td>
    </tr>
  </tbody>
</table>
